body {
  word-break: break-all; /*https://csshtml.work/hamidashi/*/
  
}


/*ハンバーガーメニュー🍔*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  /*透明度を0*/
  background-color: #ffffff77;
  /*外枠色*/
  border-color: #808080;
}


#margin-left{
  margin-left: 10px;
}


.main-ul{
  float: left;
  list-style-type: none;
}

.main-li{
  margin-left: -20px;
  font-size: 20px;
}

.link-table{
  min-width: 210px;
  width: 210px;
  border: 2px solid;
  border-color: #78ffc0;
  margin-left: 1%;
}

.side-li{
  list-style-type: none;
  margin: 7px 0px;
  margin-left: -30px;
}

span{
  color: green;
  font-size: 15px;
}

.side-a{
  text-decoration: none;
}

.li-deco{
  color: rgb(25, 186, 255);
}


h2{
  text-decoration-skip-ink: none;
}
#blue h2{
  text-decoration: underline 3px rgb(146, 209, 250);
}

#green h2{
  text-decoration: underline 3px rgb(164, 217, 181);
}

#orange h2{
  text-decoration: underline 3px rgb(255, 194, 156);
}

#purple h2{
  text-decoration: underline 3px rgb(227, 172, 255);
}

h3{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #78e9ff;
}



nav{
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
 
footer{
  min-width: 100%;
  margin-top: auto;
  padding-bottom: 15px;
}

footer p {
  margin-left: 5%;
  color: white;
  text-decoration: underline 1px rgb(189, 205, 212);
}

footer hr{
  color: white;
}

small{
  display: block;
  text-align: center;

  color: white;
}



/*グラデーション
https://saruwakakun.com/html-css/basic/linear-radial-gradient
*/

#gradation-1-title{
  background: -webkit-linear-gradient(left,#b1f5ff,#78acff);
  border-radius: 2px;
}
#gradation-1-back{
  background: linear-gradient(#effdff,#caecff);
  box-shadow: 6px 10px 10px rgb(181, 206, 230);
}

#gradation-2-title{
  background: -webkit-linear-gradient(left,#35b588, #78ffc0);
}
#gradation-2-back{
  background: linear-gradient(#e8fff4,#c8ffec);
  box-shadow: 6px 10px 10px rgb(181, 230, 208);
}

#gradation-3-title{
  background: -webkit-linear-gradient(right,#f1a05a,#ffe838);
}
#gradation-3-back{
  background: linear-gradient(#fff0e4,#ffdcb8);
  box-shadow: 6px 10px 10px rgb(230, 201, 181);
}


#gradation-4-title{
  background: -webkit-linear-gradient(right,#5f58b1,#ba92f6);
}
#gradation-4-back{
  background: linear-gradient(#f8ebff,#eadcff);
  box-shadow: 6px 10px 10px rgb(209, 181, 230);
}


/*
https://sole-color-blog.com/blog/71/
*/

@media (min-width: 1441px) {
  /*1441px以下*/
  #active-ul-A{
    margin-top: -24.5%;
  }

  #active-ul-B{
    margin-top: -13%;
  }
  
}

@media (min-width: 991px) {
/*991px以上の画面のあるデバイスに対し適用されることを意味します。*/
.wrapper {
    display: flex;
    max-width: 1600px;
    min-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
  main {
    flex: 1;
    width: 380px;
    margin: 0 20px;
    margin-top: -185px;
    
    float: right;

    margin-left: 210px;

  }
  aside {
    width: 220px;

    margin-top: -185px;

    margin-right: auto;

    /*background-color: skyblue;*/

    float: right;

  }

  img{
    max-width: 60%;
    
    margin-left: 10px;
    
    height: auto;

    float: left;
  }

  .img-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin-top: 100px;
  }


  p{
    margin-left: 20px;
  }

  h2{
    font-size: 20px;
    margin: 30px 0px 20px 50px;
  }

  h3{
    font-size: 25px;
    float: right;
    margin-right: 5%;
    margin-top: -3%;
  }

  #kurisuta{
    color: black;
    font-size: 18px;
  }

  .b-tag-kajogaki{
    display: block;
    margin-left: 20px;
  }

  .link-table{
    position: sticky;
    top: 0;
  }

  .main-img{
    margin-left: 20%;
    border-radius: 3px;
  }


  #search-btn{
    margin-top: -3px;
    clear: left;
    scale: 80%;
  }

  #search-box{
    width:75%;
    float: left;
  }

  footer{
    background-color: rgb(255, 255, 208);
  }

  .face-pic{
    width:150px;
    height:150px;
    border-radius: 20%;
    margin:0 1% 0 1%;
  }
    
}


@media (max-width: 991px) {
/*991px以下の画面のあるデバイスに対し適用されることを意味します。*/

  img{
    border-radius: 3px;
    width: 100%;
    height: auto;
  }

  .img-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin-top: 100px;
  }

  #search-btn{
    margin-top: -3px;
    clear: left;
    scale: 80%;
  }

  #search-box{
    width:80%;
    float: left;
  }

  aside{
    margin-left: 5%;
  }

  #gradation-1-back,#gradation-2-back,#gradation-3-back,#gradation-4-back{
    box-shadow: 0px 2px 0px rgb(169, 169, 169);
  }

  p{
    margin-left: 10px;
  }

  h2{
    font-size: 20px;
    margin: 20px 0px 15px 20px;
  }

  h3{
    margin-left: 5%;
    font-size: 20px
  }

  #kurisuta{
    color: black;
    font-size: 18px;
  }

  .b-tag-kajogaki{
    display: block;
    margin-left: 10px;
  }

  .face-pic{
    width:150px;
    height:150px;
    border-radius: 30%;
    margin:0 2% 0 5%;
    float: right;
  }

}











































/*== グラデーション線から塗に変化する */

/*== グラデーションが縮小する */

.gradient-btn {
  /*ボタンの形状*/
  border-radius: 1px;
  text-decoration: none;
  outline: none;
  /*背景の色と形状*/
  background: rgb(212, 243, 255);
  /*アニメーションの指定*/ 
  transition: all 0.3s ease-out;
}

/*hoverした際のスケールで全体を縮小*/
.gradient-btn:hover{
  transform: scale(0.95);
}